/****** RESET ******/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** GLOBALS ******/
html {
    font-size: 62.5%;

    --clr-background: #004643;
    --clr-white: #fffffe;
    --clr-primary: #e8e4e6;
    --clr-secondary: #abd1c6;
    --clr-secondary-dark: #001e1d;
    --clr-accent: #f9bc60;
}

body {
    background-color: var(--clr-background);
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    min-height: 100vh;
}

/****** HEADER ******/
.header {
    padding: 3rem 0;
    text-align: center;
}

.game-text {
    color: var(--clr-accent);
    font-size: calc(3.2rem + 2vw);
}

/****** MAIN ******/
.main {
    display: grid;
    place-content: center;
}

/****** GAMEBOARD ******/
.gameboard {
    height: 50rem;
    width: 50rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameboard__cell {
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-white);
    color: var(--clr-accent);
    font-size: 10rem;
    transition: all 0.3s ease-in-out;

    display: grid;
    place-content: center;
}

.gameboard__cell:hover {
    background-color: var(--clr-secondary);
}
