/****** RESET ******/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** GLOBALS ******/
html {
    font-size: 62.5%;

    --clr-white: #fdfcdc;
    --clr-primary: #0081a7;
    --clr-primary-light: #00afb9;
    --clr-accent: #f07167;
    --clr-accent-light: #fed9b7;
}

body {
    background-color: var(--clr-white);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}

/****** HEADER ******/
.header {
    padding: 3rem 0;
    text-align: center;
}

.game-text {
    color: var(--clr-primary);
    font-size: 4.8rem;
}

.main-heading span {
    color: var(--clr-accent);
}

/****** MAIN ******/
.main {
    display: grid;
    place-content: center;
}

/****** GAMEBOARD ******/
.gameboard {
    height: 50rem;
    width: 50rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameboard__cell {
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-white);
    color: var(--clr-white);
    font-size: 6rem;

    display: grid;
    place-content: center;
}
